

.pro-block .pro1-block ul.top-cat-box li {

	font-family: 'Cairo', 'Open Sans', sans-serif;
}

.pro-block .pro1-block ul.top-cat-box li:nth-child(1) {

}
.pro-block .pro1-block ul.top-cat-box li:nth-child(2) {

}
.pro-block .pro1-block ul.top-cat-box li:nth-child(3) {

}
.pro-block .pro1-block ul.top-cat-box li:nth-child(4) {

}.pro-block .pro1-block ul.top-cat-box li:nth-child(5) {	}
.pro-block .pro1-block ul.top-cat-box li:nth-child(6) {	}
.pro-block .pro1-block ul.top-cat-box li:nth-child(7) {	}
.pro-block .pro1-block ul.top-cat-box li:nth-child(8) {	}
.pro-block .pro1-block ul.top-cat-box li h2 {
	font-family: 'Cairo', 'Open Sans', sans-serif;
}

.pro-block .pro1-block ul.top-cat-box li a {
	font-family: 'Cairo', 'Open Sans', sans-serif;
  bottom: 0px;
}.brand-logo-holder {	height:61px;	width:auto;	margin-top:-30px}.brands-logo {
height: 100%;width:100%;}